body{
    background-color: rgba(218, 206, 210, 0.767)!important;
}

.container{
    margin: 5px auto;
    background-color: rgb(207,214,173);
    box-shadow: 6px 6px 5px 6px rgb(140, 153, 77);
    border-radius: 25px;
}

#drf_value{
    margin-left: 15px;
}

.strong{
    font-weight: bold;
}
